:root{
    font-size: 62.5%; /* 1rem = 10px */
    background-color: #D6D6D6;
}
.container{
    display:flex;
    justify-content: space-around;

}
.navegacao{
    list-style: none;
    display:flex;
    margin: 3.2rem 0;
}
 li{
    font-size:1.6rem;
    line-height:1.9rem;
    margin: 0 4rem ;
}
 .botoes button{
    width:13.6rem;
    height:5rem;
    margin:2rem;
    border:none;
    border-radius: 0.8rem;
    cursor:pointer;
    background-color: #0083FF;
    color:white;
     
}
.botoes :hover{
    background-color: #D6D6D6;
    border: 0.2rem solid #0083FF;
    color: black;
}
.container2{
    display:flex;
}
.informacoes{
    font-size: 3.2rem;
    margin: 0 20rem;
}
.ImageHome{
    height: 24rem;
    width:26.2rem;
    margin: 1rem 48rem;
}
.container2 .login{
    display:flex;
    flex-direction:column;
    width: 33rem;
    height: 5.6rem;
    padding: 5rem;

}
.login input{
    padding: 1.8rem;
    border: none;
    margin: 1rem 0;
    border-radius: 1rem;
    outline: none;
}
.container2 button{
    width:33rem;
    height:5.6rem;
    margin:1rem 0;
    padding: 1.8rem;
    border:none;
    border-radius: 0.8rem;
    cursor:pointer;
    background-color: #0083FF;
    color:white;
}
.container2 button:hover{
    background-color: #D6D6D6;
    border: 0.2rem solid #0083FF;
    color: black;
}
