:root{
    font-size: 62.5%; /* 1rem = 10px */
}
.container{
    display:flex;
    justify-content: space-around;

}
.navegacao{
    list-style: none;
    display:flex;
    margin: 3.2rem 0;
}
 li{
    font-size:1.6rem;
    line-height:1.9rem;
    margin: 0 4rem ;
}
 .botoes button{
    width:13.6rem;
    height:5rem;
    margin:2rem;
    border:none;
    border-radius: 0.8rem;
    cursor:pointer;
    background-color: #0083FF;
    color:white; 
}
.botoes :hover{
    background-color: #fff;
    border: 0.2rem solid #0083FF;
    color: black;
}

