
.container{
    border: 0.2rem solid #8E8D8D;
    border-radius:2rem;
    width: 17rem; 
    height: 24.1rem;
    display:flex;
    margin: 1.3rem 1.5rem 0 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #515151;
}
.card h2{
    font-size:1.4rem;
    margin:1rem 0.3rem 0.1rem 1.3rem;
}
.card p{
    font-size:0.8rem;
    margin: 1.4rem 3rem 0 0.5rem;
}
.card .box{
    display:flex;
    margin:0 0.3rem 0.1rem 1.3rem;
      
}
.card img{
    width: 17rem;

}
.card .box img{
    width:2rem;
    height:2rem;
    margin: 1rem 0;
}
.card span{
    margin: 1rem 1rem 1rem 3rem;
}
.cards-box{
    display:flex;
    flex-direction:column;
    margin:2rem;
}
.card{
    cursor: pointer;
}
.cards{
    display:flex;
 
}

.containerMain{
    display:flex;
    margin: 1rem 4rem;
}
.teste{
    display:flex;
    flex-direction:column;
    margin: 0 4rem;

}
.containerMain .saudacoes{
    font-size: 1.4rem;
    color: #909090;
    font-family: 'Inter';
    margin:2rem  ;

}
.containerMain .Name{
    font-size:2rem;
    font-family: 'Inter';
    color:#515151;
}
.containerMain h1{
    color:#0083FF;
    font-family: 'Inter';
    font-weight: bold;
    font-size:1.6rem;
    margin: 1rem 2rem;
}
.filtro{
    display:flex;
    width: 9.3rem;
    height:4rem;
    border: 0.2rem solid #8E8D8D;
    border-radius: 1.7rem;
    font-size: 1.3rem;
    color: #515151;
    font-family: 'Inter';
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
    margin: 0 0.5rem 1rem 2rem;
    padding: auto;
}
.filtros{
    display:flex;
}